  <div class="cart-page">
	<div class="custom-container">
      <h2 class="primary-heading">YOUR CART</h2>
      <form class="cart-form">
        <div class="table-responsive">
          <table>
            <thead>
                <tr>
                    <th>PRODUCT</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h6>CACAO + <br> PEANUT BUTTER</h6>
                        <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/img4.png?v=1665427504">
                    </td>
                    <td>2</td>
                    <td>$11.99</td>
                    <td><strong>$23.98</strong></td>
                </tr>
                <tr>
                    <td>
                        <h6>MAPLE + <br> SALTED PECAN</h6>
                        <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/img3.png?v=1665427504">
                    </td>
                    <td>3</td>
                    <td>$11.99</td>
                    <td><strong>$23.98</strong></td>
                </tr>
            </tbody>
        </table>
        </div>

        
        <div class="text-center bottom-section">
          <p><span>SUBTOTAL</span> <strong>$47.96</strong></p>
            <input type="submit" value="CHECKOUT" class="theme-smaller__btn">
          <div class="payment-section">
            <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/payment-icons.png?v=1665430691">
          </div>
        </div>
        
      </form>
	</div>
  </div>


{% schema %}
  {
    "name": "cart-new-01",
    "settings": [],
    "presets": [{"name": "cart-new-01"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}