  
  <div class="order-page">
	<div class="custom-container">
    	<h2 class="primary-heading">BUILD YOUR SELF-CARE PACKAGE</h2>
		<p>*Pick your <a href="#">4-6 pints</a> to build your custom case</p>
    </div>
    
    <form class="order-form" action="/cart/add" method="post">
      <div class="custom-container">
        <div class="products-holder">
            <div class="col">
                <h5>CACAO</h5>
                <div class="img-box">
                    <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/img3.png?v=1665427504">
                    <div class="custom-arrow">
                        <select>
                            <option>Qty: 1</option>
                            <option>Qty: 2</option>
                            <option>Qty: 3</option>
                        </select>  
                    </div>
                </div>
                <div class="img-box">
                    <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/img1.png?v=1665147459">
                    <div class="custom-arrow">
                        <select>
                            <option>Qty: 1</option>
                            <option>Qty: 2</option>
                            <option>Qty: 3</option>
                        </select> 
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>CACAO + <br> PEANUT BUTTER</h5>
                <div class="img-box">
                    <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/img4.png?v=1665427504">
                    <div class="custom-arrow">
                        <select>
                            <option>Qty: 1</option>
                            <option>Qty: 2</option>
                            <option>Qty: 3</option>
                        </select>
                    
                    </div>
                </div>
                <div class="img-box">
                    <img src="https://cdn.shopify.com/s/files/1/0647/6840/9840/files/img5.png?v=1665427504">
                    <div class="custom-arrow">
                        <select>
                            <option>Qty: 1</option>
                            <option>Qty: 2</option>
                            <option>Qty: 3</option>
                        </select>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="field-section">
            <h3>Which flavor(s) should we launch next? (Optional)</h3>
            <input class="input-field" type="text" placeholder="">
            <input type="submit" name="" value="ADD TO CART" class="theme-smaller__btn">
        </div>
      </div>
    </form>
 

  
  </div>
</div>

 



{% schema %}
  {
    "name": "start-order-01",
    "settings": [
       
    ],
    "presets": [{"name": "order-01"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}